.product {
  background-color: #fff;
  padding: 32px;
  width: 100%;
  .picture_data_section {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    .picture_section {
      width: 680px;
    }
    .data_section {
      margin: 0 0 0 32px;
      .features {
        font-size: 14px;
      }
      .title {
        margin-top: 16px;
        font-size: 24px;
        font-weight: 600;
      }
      .price {
        margin: 32px 0;
        font-size: 46px;
        &:before {
          content: "$ ";
        }

        &:after {
          content: ".00";
          font-size: 18px;
        }
      }
      .button {
        background-color: #3483fa;
        border: none;
        color: #fff;
        width: 300px;
        height: 50px;
        border-radius: 4px;
        font-size: 16px;
      }
    }
  }
  .description {
    .description_title {
      font-size: 28px;
    }
    .description_body {
      font-size: 16px;
      margin: 32px 0;
    }
  }
}
