.App {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
}

.App-content {
  background-color: #eee;
  min-height: 100vh;

  font-size: calc(10px + 2vmin);
  color: #606060;
  width: 1215px;
}
