.tagsContainer {
  font-size: 14px;
  margin: 16px 0 16px 0;
  display: flex;
  color: #999;
  .graterThan {
    display: flex;
    align-items: center;
    width: 7px;
    margin: 0 10px 0 10px;
  }
  .tags {
    cursor: pointer;
  }
}
